VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# URL ngrok / Render.com / Flask backend
# Untuk demo lokal: VITE_API_URL=http://192.168.x.x:5000
# Untuk demo Vercel + ngrok: VITE_API_URL=https://xxxx.ngrok-free.app
VITE_API_URL=
